<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Enter new Recipe:</h3>

    <form class="form new-recipe-form">
      <div class="form-group">
        <label for="recipe-name">recipe name:</label>
        <input
          class="form-input"
          type="text"
          id="recipe-name"
          name="recipe-name"
        />
      </div>
      <div class="form-group">
        <label for="recipe-category">needed category:</label>
        <input
          class="form-input"
          type="number"
          id="recipe-category"
          name="recipe-category"
        />
      </div>
      <div class="form-group">
        <label for="recipe-desc">description:</label>
        <textarea
          class="form-input"
          id="recipe-desc"
          name="recipe-desc"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="recipe-ingredients">ingredients:</label>
        <textarea
          class="form-input"
          id="recipe-ingredients"
          name="recipe-ingredients"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="recipe-directions">directions:</label>
        <textarea
          class="form-input"
          id="recipe-directions"
          name="recipe-directions"
        ></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if projects.length}}
    <div class="col-md-6 project-list">
      <h3>Current Projects:</h3>

      {{#each projects as |project|}}
        <div class="row mb-2">
          <div class="col-md-8">
            <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
          </div>
          <div class="col-md-4">
            <button
              class="btn btn-sm btn-danger"
              data-id="{{project.id}}"
            >DELETE</button>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>