  <div class="col-md-6">
    <h2 style = "font-family: Georgia, 'Times New Roman', Times, serif;">Sign Up</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label style = "font-family: Georgia, 'Times New Roman', Times, serif;"for="name-signup">Name:</label>
        <input style = "font-family: Georgia" class="form-input form-control" type="text" id="name-signup" placeholder="Enter name"/>
      </div>
      <div class="form-group">
        <label style = "font-family: Georgia, 'Times New Roman', Times, serif;" for="email-signup">Email:</label>
        <input style = "font-family: Georgia" class="form-input form-control" type="text" id="email-signup" placeholder="Enter email"/>
      </div>
      <div class="form-group">
        <label style = "font-family: Georgia, 'Times New Roman', Times, serif;" for="password-signup">Password:</label>
        <input style = "font-family: Georgia" class="form-input form-control" type="password" id="password-signup" placeholder="Create password"/>
      </div>
      <div class="form-group">
        <button style = "font-family: Georgia, 'Times New Roman', Times, serif;" class="btn btn-primary" type="submit">Sign Up</button>
      </div>
    </form>
  </div>

  <script src="./js/signup.js"></script>