body {
  background-image: url(/css/three.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.recipe-card {
  width: 50%;
}

@media (max-width: 450px) {
  .display-4 {
    font-size: 42px;
  }
}

@media (max-width: 1000px) {
  .recipe-card {
    width: 100%;
  }
}

@media (max-width: 390px)
{
.modal-dialog 
    {max-width: 300px;
    margin: 1.75rem auto;
}
}