

@import "node_modules/bootstrap/scss/bootstrap";



  body {
      background-image: url(/css/three.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
  }

