body, html {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/*Header*/
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: aqua;
    height: 200px;
}

#headerh1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    margin-left: 30px;
    margin-top: 55px;
    margin-bottom: 25px;
}

nav {
    display: flex;
    flex-wrap: wrap;

}

#main-nav {
    display: flex;
    margin-top: 12px;
    background-color: black;
    height: 40px;
    width: 600px;
}

#recipe-book {
    display: flex;
    background-color: black;
    margin-top: 12px;
    height: 40px;
    width: 220px;
    padding-left: 20px;
    margin-left: 384px;
}

a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: blanchedalmond;
    font-size: 30px;
    padding-right: 10px;
    text-decoration: none;
}

/*Rows*/
.container {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    background-color: crimson;
    margin-top: 10px;
}

#recipe-img {
    background-color: darkolivegreen;
    height: 360px;
    width: 800px;
    margin-left: 20px;
    margin-top: 20px;
}

#dessert-img {
    background-color: darkolivegreen;
    height: 360px;
    width: 800px;
    margin-left: 70px;
    margin-top: 20px;
}

/*Week Row*/
#week-header {
    background-color: darkolivegreen;
    height: 40px;
    width: 300px;
    margin-left: 80px;
    margin-top: 180px;

}

#week-type {
    background-color:aqua;
    height: 70px;
    width: 500px;
    margin-top: 270px;
}

#week-name {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-left: 10px;
    padding-top: 7px;
}

/*Dessert Row*/
#dessert-header {
    background-color: darkolivegreen;
    height: 40px;
    width: 320px;
    margin-left: 50px;
    margin-top: 180px;
}

#dessert-type{
    background-color:aqua;
    height: 50px;
    width: 500px;
    margin-top: 270px;
    margin-left: 300px;
}

#dessert-name {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-left: 10px;
    padding-top: 7px;
}

/*Box Row*/
.boxes {
    display: flex;
    flex-wrap: wrap;
    height: 360px;
    width: 1200px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 30px;
    
}

#box1 {
    background-color: darkblue;
    height: 360px;
    width: 380px;
}

#box2 {
    background-color: darkblue;
    height: 360px;
    width: 380px;
    margin-left: 30px;
    margin-right: 30px;
}

#box3 {
    background-color: darkblue;
    height: 360px;
    width: 380px;
}

.boxbox {
    background-color: darkgreen;
    height:300px;
    width:380px
}

.boxh {
    color: darkgrey;
    font-size: 25px;
    padding-left:95px;
    margin-top: 15px;
}

/*Footer*/
.footer {
    background-color: darkblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    height: 70px;
    align-items: center;
}

.button-settings {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.button {
    height: 50px;
    width:100px;
    margin: 10px;
    /* padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px; */

}

@media screen and (max-width:980px) {
    header {
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:768px) {

}